<br/>
<div class="row">
    <div class="col s2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="input-field col s6">
        <label for="input-pesquisa-palavra">Palavra</label>
        <input id="input-pesquisa-palavra" type="text" class="input-field"
               ng-model="$parent.pesquisa_palavra"/>
    </div>
    <div class="col s4">
        <a class="waves-effect waves-light btn" style="margin-top:10px">
            <i class="mdi-action-search center"></i>
        </a>
    </div>
</div>