<br/>
<div class="row">
    <div class="col s12 center-align">
        <div class="row">
            <button class="btn-large light-blue" ng-click="ButtonClick(1)">1</button>
            <button class="btn-large light-blue" ng-click="ButtonClick(2)">2</button>
            <button class="btn-large light-blue" ng-click="ButtonClick(3)">3</button>
        </div>
        <div class="row">
            <button class="btn-large light-blue" ng-click="ButtonClick(4)">4</button>
            <button class="btn-large light-blue" ng-click="ButtonClick(5)">5</button>
            <button class="btn-large light-blue" ng-click="ButtonClick(6)">6</button>
        </div>
        <div class="row">
            <button class="btn-large light-blue" ng-click="ButtonClick(7)">7</button>
            <button class="btn-large light-blue" ng-click="ButtonClick(8)">8</button>
            <button class="btn-large light-blue" ng-click="ButtonClick(9)">9</button>
        </div>
        <div class="row">
            <button class="btn-large light-blue" ng-click="ButtonClick(0)">0</button>
            <button class="btn-large light-green" ng-click="SelecionaHino('S')">S</button>
            <button class="btn-large light-green" ng-click="SelecionaHino('C')">C</button>
        </div>
        <div class="row">
            <button class="btn-large orange" ng-click="Limpar()">Limpar</button>
            <button class="btn-floating center-align" style="margin-left: 6px;" ng-click="PesquisaNumero()"><i
                    class="mdi-action-search"></i></button>
        </div>
        <div class="row center-align">
            <h5> {{ hino_selecionado }}</h5>
        </div>
    </div>
</div>